:root {
  --primaryColor: rgb(32, 220, 205);
}body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.contentContainer {
  background: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.accordion-item {
  background-color: #111 !important;
  
}

.bodyContent {
  width: 90vw !important;


}




.accordion-button {
  font-size: 12pt !important;
  height: 4rem;
  background-color: var(--primaryColor);
}

@media only screen and (max-width: 600px) {

 h1 {
  font-size: 12pt !important;
  text-align: left;
 }

 p {
  font-size: 8pt !important;
  
 }

 .header {
  font-size: 20pt !important;
 }

}